    {% extends 'projects/base.html' %}

    {% load static %}

    {% block content %}

<section> <!-- This section element contains the three articles that make
        up my webpage. -->
        <article class="border" id="about-me">
        <h2><em> About me </em></h2>
        <img src="media/bloop.jpg" alt="Portrait of Victor Flucus"/>
          <p> I am currently working as a <strong>Systems engineer</strong> for a process controls systems integrator.
            The projects I've worked on thus far have been with clients in the <span style="background-color: lightblue; border: thin solid darkblue;"> chemical and pharmaceutical industries </span>.
            While this challenging and interesting. I have elected to follow my interests into the software space.
          </p>
          <div class="clear-float"></div>
        </article>

        <article class="border" id="experience">
        <h2><em> Past Experiences </em></h2>
        <img src="media/Victor-in-Iceland.jpg" alt="Victor traveling!"  width="250" />
        <div class="right-content">
        <table>
          <caption>Employment History</caption>
          <thead>
            <tr>
              <th>Years of Employment</th>
              <th>Title</th>
              <th>Company</th>
            </tr>
          </thead>
          </tbody>
            <tr>
                <td>July 2020 - Present</td>
                <td>Systems Engineer</td>
                <td>RoviSys</td>
            </tr>
            <tr>
                <td>August 2017 - May 2019</td>
                <td>Mechanical Engineering Co-op </td>
                <td>Moen Inc.</td>
            </tr>
            <tr>
                <td>September 2019 - March 2020</td>
                <td>Undergraduate Research Assistant</td>
                <td>NC State University</td>
            </tr>
            <tr>
                <td>August 2019 - May, 2020</td>
                <td> Administrative Assistant</td>
                <td> NC State University</td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="clear-float"></div>
        </article>
        <article class="border" id="hobbies">
          <h2><em> Hobbies </em></h2>
          <img src="media/Victor-5K.jpg" alt="Sweaty Victor" />
          <div class="right-content">
          <ul>
            <li>Things I Enjoy</li>
          <ol>
              <li>Listening to music</li>
              <li>Weightlifting/Exercise</li>
              <li>Cooking</li>
          </ol>
          <li>Video Games</li>
            <ol>
                <li>Breath of the Wild</li>
                <li>Super Smash Bros</li>
                <li>Mario Kart</li>
            </ol>
          </ul>
          </div>
          <div class="clear-float"></div>
        </article>
      </section>

    {% endblock %}