/*
Creator: Victor Flucus
Current Revision Date: 11/20/21
*/
        body  {
          background-color: white;
        }
        header,footer {
        background-color: darkgreen;
        color: white;
        }
        .border {
          border: thick solid blue;
        }
        #experience {
          border: thick dashed orange;
        }
